<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
            name="description"
            content="Inventory Solution"
    />
    <style>
        body {
            font-family: 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body style="font-family: serif">
<h4> Allegion InventT App Invite</h4>
<div>Welcome <b th:text="${name}"></b></div>

<div> Your username is <b th:text="${email}"></b></div>
<div><a th:href="${domain}+'/ims/resetPassword?key='+ ${resetKey}"> Click Here to set your Password to use Application.</a></div>
</br>
<div>This link will expire in 72 hours.</div>
</br>
<div>Allegion InventT Team</div>
</body>
</html>
