<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
            name="description"
            content="Inventory Solution"
    />
    <style>
        header {
            background-color: rgb(0, 45, 192);
            padding: 15px;
            text-align: center;
            font-size: 20px;
            color: white;
        }
        footer {
            background-color: rgb(0, 45, 192);
            padding: 15px;
            text-align: center;
            color: white;
            font-size: 15px;
        }
        body {
            font-family: 'Trebuchet MS', sans-serif;
            padding: 20px;
        }
    </style>
</head>
<header>
    <h4>Allegion Inventory Invite </h4>
</header>
<body style="font-family: serif">
<div>&nbsp; Welcome <b th:text="${name}"></b></div>

<div>&nbsp; Your username is <b th:text="${email}"></b></div>
<div>&nbsp; <a th:href="${domain}+'/resetpassword?key='+ ${resetKey}"> Click Here to set your Password to use Application.</a></div>
</br>
<div>&nbsp; Caution: This link will expire in 72 hours.</div>
</br>
<div>&nbsp; Allegion Inventory Team</div>
</br>
</br>
</br>
</br>

</body>
<footer>
    <p>  Allegion 2022</p>
</footer>
</html>
