<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
            name="description"
            content="Inventory Solution"
    />
    <style>
        body {
            font-family: 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
<h4> Reset password Invite </h4>
<div>Hi <b th:text="${name}"></b></div>
<div> Your username is <b th:text="${email}"></b></div>
<div><a th:href="${domain}+'/resetPassword?key='+ ${resetKey}">Click Here to reset your Password.</a></div>
<div>This link with expire in 72 hours.</div>
<div> If you haven't requested for password reset reset your password to more secure !! </div>
</br>
<div>Allegion InventT Team</div>
</body>
</html>
